<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.example.cookie.model.member.Member" alias="member" />
		<typeAlias type="com.example.cookie.model.splace.Splace" alias="place"/>
		<typeAlias type="com.example.cookie.model.file.AttachedFile" alias="file"/>
		<typeAlias type="com.example.cookie.model.file.PlaceAttachedFile" alias="placefile"/>
		<typeAlias type="com.example.cookie.model.file.PersonAttachedFile" alias="personfile"/>
		<typeAlias type="com.example.cookie.model.sperson.SPerson" alias="person"/>
		<typeAlias type="com.example.cookie.model.rent.RentPlace" alias="rentPlace"/>
		<typeAlias type="com.example.cookie.model.rent.RentPerson" alias="rentPerson"/>
		<typeAlias type="com.example.cookie.model.review.ReviewPlace" alias="reviewPlace"/>
		<typeAlias type="com.example.cookie.model.review.ReviewPerson" alias="reviewPerson"/>
		<typeAlias type="com.example.cookie.model.wish.WishPlace" alias="wishPlace"/>

	</typeAliases>
</configuration>
  
