<!DOCTYPE html>
<html>
<head th:replace="~{header :: #header}"></head>
<head th:replace="~{head :: #head}"></head>

<body>
	<div th:replace="header"></div>
	<div class="signup-div">
		<form action="signup" method="post" th:object="${member}">
			<div class="signup-container">
				<img src="../images/cookie.png" alt="cookie" height="22px" width="22px" />
				<h3 style="margin-top: -0.1px;">Cookie</h3>
				<div class="wrapper">
					<div class="title">이메일</div>
					<input th:field="*{member_id}" placeholder="code@gmail.com" type="email" />
				</div>
				<div class="wrapper">
					<div class="title">비밀번호</div>
					<input th:field="*{member_pw}" placeholder="8자 이상 영문, 숫자, 특수문자를 사용하세요." type="password" />
				</div>
				<div class="wrapper">
					<div class="title">닉네임</div>
					<input th:field="*{member_nick}" placeholder="1자 이상의 한글,영문,숫자만 사용할 수 있습니다" />
				</div>
				<div class="wrapper">
					<div class="title">핸드폰 번호</div>
					<input th:field="*{member_pho}" placeholder="010-1234-5678" />
				</div>
				<div class="wrapper">
					<div class="title">MBTI</div>
					<select th:field="*{member_mbti}" class="Select">
						<option th:value="none">없음</option>
						<option th:value="ISTJ">ISTJ</option>
						<option th:value="ISFJ">ISFJ</option>
						<option th:value="INFJ">INFJ</option>
						<option th:value="INTJ">INTJ</option>
						<option th:value="ISTP">ISTP</option>
						<option th:value="ISFP">ISFP</option>
						<option th:value="INFP">INFP</option>
						<option th:value="ESTJ">ESTJ</option>
						<option th:value="ESFJ">ESFJ</option>
						<option th:value="ENFJ">ENFJ</option>
						<option th:value="ENTJ">ENTJ</option>
						<option th:value="ESTP">ESTP</option>
						<option th:value="ESFP">ESFP</option>
						<option th:value="ENFP">ENFP</option>
						<option th:value="ENTP">ENTP</option>
					</select>
				</div>
				<button type="submit" class="submit-button" onclick="">회원가입</button>
				<a class="loginLink" href="/user/signin">로그인</a>
			</div>
		</form>
	</div>

</body>

</html>