<!DOCTYPE html>
<html>
<head th:replace="~{head :: #head}"></head>
<head th:replace="~{header :: #header}"></head>
<head th:replace="~{PersonCategoryList :: #PersonCategoryList}"></head>
<link rel="stylesheet" type="text/css" href="/css/flaticon.css">

</style>
<body>
	<div th:replace="header"/>
	<div th:replace="PersonCategoryList"></div>
	<!--explore start -->
		<section id="explore" class="explore">
				<div class="explore-content">
					<div class="row">
						<div class=" col-md-4 col-sm-6" th:each="person, personStat: ${persons}">
							<div class="single-testimonial-box" th:onclick="|location.href='@{/person/detail(person_id=${person.person_id})}'|">
						<div class="testimonial-description">
							<div class="testimonial-info">
								<div class="testimonial-img">
									<img class="personImg" th:src="@{'/images/upload/' + ${person.saved_filename}}" alt="이미지입니당">
								</div><!--/.testimonial-img-->
								<div class="testimonial-person">
									<h1><a th:text="${person.person_name}" ></a></h1>
									<h4 th:text="${person.person_category}"></h4>
									<div class="testimonial-person-star">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div><!--/.testimonial-person-->
							</div><!--/.testimonial-info-->
							<div class="testimonial-comment">
								<p th:text="${person.person_content}"></p>
							</div><!--/.testimonial-comment-->
						</div><!--/.testimonial-description-->
					</div><!--/.single-testimonial-box-->
						</div>
				</div>
					</div>
			</div><!--/.container-->

		</section><!--/.explore-->
		<!--explore end -->
</body>
</html>