<!DOCTYPE html>
<html>
<head th:replace="~{head :: #head}"></head>
<head th:replace="~{header :: #header}"></head>
<head th:replace="~{categoryList :: #categoryList}"></head>
<link rel="stylesheet" type="text/css" href="/css/flaticon.css">
<script src="https://kit.fontawesome.com/5e5e7712e7.js" crossorigin="anonymous"></script>
<script>
	function like(){
		alert('좋아요 등록되었습니다')
	}
</script>
<style>
	.fa fa-heart:hover{
		color: red !important;
	}
</style>
<body>
	<head th:replace="header"></head>
		<div th:replace="categoryList"></div>
				<div class="explore-content" >
					<div class="row">
						<div class=" col-md-4 col-sm-6" th:each="place : ${places}">
							<div class="single-explore-item" th:onclick="|location.href='@{/place/detail(place_id=${place.place_id})}'|">
								<div class="single-explore-img">
									<img th:src="@{'/images/upload/' + ${place.saved_filename}}" alt="이미지임">
									<div class="single-explore-img-info">
										<button onclick="window.location.href='#'">best rated</button>
										<div class="single-explore-image-icon-box">
											<ul>
												<li>
													<div class="single-explore-image-icon">
														<i class="fa fa-arrows-alt"></i>
													</div>
												</li>
												<li>
													<div class="single-explore-image-icon" onclick="like()">
														<i class="fa fa-heart"></i>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-explore-txt bg-theme-1">
									<h2><a th:href="@{/place/detail(place_id=${place.place_id})}" th:text="${place.place_name}"></a></h2>
									<p class="explore-rating-price">
										<span class="explore-rating">5.0</span>
										<a href="#" th:text="'수용인원 : ' + ${place.place_count} + 명"></a> 
										<span class="explore-price-box">
											시간당 
											<span class="explore-price" th:text="${place.place_price} + '원'"></span>
										</span>
										 <a href="#" th:text="${place.place_category}"></a>
									</p>
									<div class="explore-person">
										<div class="row">
											<div class="col-sm-11" style="overflow: hidden; white-space: nowrap;">
												<p th:text="${place.place_content}">
												 
												</p>
												<p>...더보기</p>
											</div>
										</div>
									</div>
									<div class="explore-open-close-part">
										<div class="row">
											<div class="col-sm-5">
												<button class="close-btn" th:href="@{/place/detail}">상세보기</button>
											</div>
											<div class="col-sm-7">
												<div class="explore-map-icon">
													<a href="#"><i data-feather="map-pin"></i></a>
													<a href="#"><i data-feather="upload"></i></a>
													<a href="#"><i data-feather="heart"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						</div>
					</div>
				</div>
			</div><!--/.container-->
</body>
</html>