<!DOCTYPE html>
<html>
<head th:replace="~{head :: #head}"></head>
<head th:replace="~{header :: #header}"></head>
<link rel="stylesheet" type="text/css" href="/css/flaticon.css">
<script src="https://kit.fontawesome.com/5e5e7712e7.js" crossorigin="anonymous"></script>
<body>
	<head th:replace="header"></head>
	<!--explore start -->
		<section id="explore" class="explore">
			<div class="container">
				<div class="section-header">
					<h2>장소</h2>
				</div><!--/.section-header-->
				<!--welcome-hero end -->
		
		<section id="list-topics" class="list-topics">
			<div class="container">
			<div class="list-topics-content">
				<ul>
					<li>
						<button class="single-list-topics-content" th:onclick="location.href='/place/list'">
							<div class="single-list-topics-icon">
								<i class="fa-solid fa-house"></i>
							</div>
							<h2><a>전체</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" th:onclick="location.href='/place/exercise'">
							<div class="single-list-topics-icon">
								<i class="fa-solid fa-baseball-bat-ball"></i>
							</div>
							<h2><a>체육시설</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" onclick="location.href='/place/camping'">
							<div class="single-list-topics-icon">
								<i class="fa-solid fa-campground"></i>
							</div>
							<h2><a>캠핑</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" onclick="location.href='/place/office'">
							<div class="single-list-topics-icon">
								<i class="fa-solid fa-user-group"></i>
							</div>
							<h2><a>공유오피스</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" onclick="location.href='/place/carry'">
							<div class="single-list-topics-icon">
								<i class="fa-solid fa-suitcase-rolling"></i>
							</div>
							<h2><a >짐보관</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" onclick="location.href='/place/guset'">
							<div class="single-list-topics-icon">
								<i class="fa-solid fa-bed"></i>
							</div>
							<h2><a href="#">게스트하우스</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" onclick="location.href='/place/ptroom'">
							<div class="single-list-topics-icon">
								<i class="fa-solid fa-hotel"></i>
							</div>
							<h2><a href="#">파티룸</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" onclick="location.href='/place/study'">
							<div class="single-list-topics-icon">
							<i class="fa-solid fa-pen-to-square"></i>
							</div>
							<h2><a href="#">스터디룸</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" onclick="location.href='/place/pack'">
							<div class="single-list-topics-icon">
							<i class="fa-solid fa-microphone"></i>
							</div>
							<h2><a href="#">공연장</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content" onclick="location.href='/'">
							<div class="single-list-topics-icon">
							<i class="fa-solid fa-bars"></i>
							</div>
							<h2><a href="#">기타</a></h2>
						</button>
					</li>
					<li>
						<button class="single-list-topics-content red" onclick="location.href='/place/register'">
							<div class="single-list-topics-icon">
							<i class="fa-solid fa-plus"></i>
							</div>
							<h2><a href="/place/register">장소등록</a></h2>
						</button>
					</li>
					
				</ul>
			</div>
		</div><!--/.container-->

	</section><!--/.list-topics-->
	<!--list-topics end-->
				<div class="explore-content" >
					<div class="row">
						<div class=" col-md-4 col-sm-6" th:each="place : ${places}">
							<div class="single-explore-item" th:onclick="|location.href='@{/place/detail(place_id=${place.place_id})}'|">
								<div class="single-explore-img">
									<img th:src="@{'/images/upload/' + ${place.saved_filename}}" alt="이미지임">
									<div class="single-explore-img-info">
										<button onclick="window.location.href='#'">best rated</button>
										<div class="single-explore-image-icon-box">
											<ul>
												<li>
													<div class="single-explore-image-icon">
														<i class="fa fa-arrows-alt"></i>
													</div>
												</li>
												<li>
													<div class="single-explore-image-icon">
														<i class="fa fa-bookmark-o"></i>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="single-explore-txt bg-theme-1">
									<h2><a th:href="@{/place/detail(place_id=${place.place_id})}" th:text="${place.place_name}"></a></h2>
									<p class="explore-rating-price">
										<span class="explore-rating">5.0</span>
										<a href="#" th:text="'수용인원 : ' + ${place.place_count} + 명"></a> 
										<span class="explore-price-box">
											시간당 
											<span class="explore-price" th:text="${place.place_price} + '원'"></span>
										</span>
										 <a href="#" th:text="${place.place_category}"></a>
									</p>
									<div class="explore-person">
										<div class="row">
											<div class="col-sm-11" style="overflow: hidden; white-space: nowrap;">
												<p th:text="${place.place_content}">
												 
												</p>
												<p>...더보기</p>
											</div>
										</div>
									</div>
									<div class="explore-open-close-part">
										<div class="row">
											<div class="col-sm-5">
												<button class="close-btn" th:href="@{/place/detail}">상세보기</button>
											</div>
											<div class="col-sm-7">
												<div class="explore-map-icon">
													<a href="#"><i data-feather="map-pin"></i></a>
													<a href="#"><i data-feather="upload"></i></a>
													<a href="#"><i data-feather="heart"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						</div>
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.explore-->
		<!--explore end -->
</body>
</html>