<!DOCTYPE html>


<head id="category">
	

	<div class="wrapper">
		<div class="cat-cat">
			<input type="checkbox" id="office" />
			<label for="office">공유오피스</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="camping" />
			<label for="camping">캠핑</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="sea" />
			<label for="sea">바다근처</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="ptroom" />
			<label for="ptroom">파티룸</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="guset" />
			<label for="guset">게스트하우스</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="study" />
			<label for="study">스터디룸</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="hotel" />
			<label for="hotel">호텔</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="pack" />
			<label for="pack">공연장</label>
		</div>
	</div>

	</head>

