<!DOCTYPE html>


<head id="category1">
	

	<div class="wrapper">
		<div class="cat-cat">
			<input type="checkbox" id="meal" value="meal" name="person_category"/>
			<label for="meal">식사</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="counsel" value="counsel" name="person_category"/>
			<label for="counsel">고민상담</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="shopping" value="shopping" name="person_category"/>
			<label for="shopping">장보기</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="pet" value="pet" name="person_category"/>
			<label for="pet">애견산책</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="role" value="role" name="person_category"/>
			<label for="role">역할대행</label>
		</div>
	</div>

	</head>

