<!DOCTYPE html>
<html>
<head id="category">
<style>
	.cat-box{
  width: 95%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top : -20px;
  input {
    margin: 0px;
  }
	}
	.cat-cat {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  word-break: keep-all;
  margin-bottom: 3px;
	}
</style>
<body>
	<div class="cat-box">
		<div class="cat-cat">
			<input type="checkbox" value="공유오피스"/>
			<label/>
		</div>
	</div>
	
	
</head>
</body>
</html>