<!DOCTYPE html>
<html>

<head th:replace="~{head :: #head}"></head>

<head th:replace="~{header :: #header}"></head>
<script src="https://kit.fontawesome.com/5e5e7712e7.js" crossorigin="anonymous"></script>
<div class="hero_area">

	<head th:replace="header"></head>

	<!--welcome-hero start -->
	<section id="home" class="welcome-hero">
		<div class="container">
			<div class="welcome-hero-txt">
				<h2>누구나 등록하고<br>누구든지 대여하는</h2>
				<p>
					Find Best Place, Restaurant, Hotel, Studio and many more think in just One click
				</p>
			</div>
			<!--list-topics start -->
	</section>
	<!--/.welcome-hero-->
	<!--works start -->
	<section id="works" class="works">
		<div class="container">
			<div class="section-header">
				<h2>how to use cooookie</h2>
			</div><!--/.section-header-->
			<div class="works-content">
				<div class="row">
					<div class="col-md-6">
						<div class="single-how-works">
							<div class="single-how-works-icon">
								<i class="fa-solid fa-house-chimney"></i>
							</div>
							<h2><a href="#">choose <span> what to</span> do</a></h2>
							<p>간편한 공간대여로 원하는 곳에서 우리다운 시간을 보내세요!	</p>
							<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
								공간 보러가기
							</button>
						</div>
					</div>
					<div class="col-md-6" >
						<div class="single-how-works">
							<div class="single-how-works-icon">
								<i class="fa-solid fa-person"></i>
							</div>
							<h2><a href="#">find <span> your friend</span></a></h2>
							<p>당신에게 꼭 필요한 친구가 되어줄게요!</p>
							<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
								사람 보러가기
							</button>
						</div>
					</div>
					
				</div>
			</div>
		</div><!--/.container-->

	</section><!--/.works-->
	<!--works end -->

	<!--blog start -->
	<section id="blog" class="blog">
		<div class="container">
			<div class="section-header">
				<h2>이용후기</h2>
			</div><!--/.section-header-->
			<div class="blog-content">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-blog-item">
							<div class="single-blog-item-img">
								<img src="/images/blog/연습실.jpeg" alt="blog image">
							</div>
							<div class="single-blog-item-txt">
								<h2><a href="#">이루리 연습실 [홍대합정점]</a></h2>
								<h4>posted <span>by</span> <a href="#">eunbin2</a>2023.10.25</h4>
								<p>
            안무 연습하기 너무 좋은 크기였는데 이 가격이라뇨..! 넘 좋았어용! 조명 색도 태블릿으로 여러가지 조절할 수 있는게 너무 신기하고 좋았어요. 다른 방 소리 생각보다 안들려서 쾌적하게 연습했네요~~~!!
           </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-blog-item">
							<div class="single-blog-item-img">
								<img src="/images/blog/파티룸.jpeg" alt="blog image">
							</div>
							<div class="single-blog-item-txt">
								<h2><a href="#">홍대파티룸 그라운드 with 바베큐</a></h2>
								<h4>posted <span>by</span> <a href="#">minji33</a>2023.11.05</h4>
								<p>
            크리스마스 분위기에 맞춰서 이쁘게 꾸미셔서 지인들이 넘 좋아했습니다ㅎㅎ 바베큐도 제가 바라던 화로 주변에 옹기종기 모여 고기 구워먹는 거였는데 이걸 경험할 수 있어서 좋았습니다 !
          </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-blog-item">
							<div class="single-blog-item-img">
								<img src="/images/blog/풋살리뷰.jpeg" alt="blog image">
							</div>
							<div class="single-blog-item-txt">
								<h2><a href="#">한성대학교 야외시설 풋살장</a></h2>
								<h4>posted <span>by</span> <a href="#">sssjun</a>2023.10.09</h4>
								<p>넘 좋았어요. 바닥도 미끄럽지 않고, 위치도가깝고 관리자분도 친절하시고요~^^ 주차장도 잘돼있어욤 건의사항도 빨리빨리 수용해주셔서 이용하는데 큰불편없이 사용해서 좋아요</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.container-->

	</section><!--/.blog-->
	<!--blog end -->



	<!--footer start-->
	<footer id="footer" class="footer">
		<div class="container">
			<div class="footer-menu">
				<div class="row">
					<div class="col-sm-3">
						<div class="navbar-header">
							<a class="navbar-brand" href="index.html">cooo<span>kie</span></a>
						</div><!--/.navbar-header-->
					</div>
					<div class="col-sm-9">
						<ul class="footer-menu-item">
							<li class="scroll"><a href="#works">how it works</a></li>
							<li class="scroll"><a href="#explore">explore</a></li>
							<li class="scroll"><a href="#reviews">review</a></li>
							<li class="scroll"><a href="#blog">blog</a></li>
							<li class="scroll"><a href="#contact">contact</a></li>
							<li class=" scroll"><a href="#contact">my account</a></li>
						</ul><!--/.nav -->
					</div>
				</div>
			</div>
			<div class="hm-footer-copyright">
				<div class="">
					<div class="col-sm-12">
						<span>쿠키(주)는 통신판매중개자로서, 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.</span>
						<span class="footer-social" style="margin-left: 120px">
							<span><i class="fa fa-phone"> +1 (222) 777 8888</i></span>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</span>
					</div>
				</div>

			</div><!--/.hm-footer-copyright-->
		</div><!--/.container-->

		<div id="scroll-Top">
			<div class="return-to-top">
				<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
					data-original-title="Back to Top" aria-hidden="true"></i>
			</div>

		</div><!--/.scroll-Top-->

	</footer><!--/.footer-->
	<!--footer end-->

	<!-- Include all js compiled plugins (below), or include individual files as needed -->



	</body>

</html>