<!DOCTYPE html>
<html>
<head th:replace="~{header :: #header}"></head>
<head th:replace="~{head :: #head}"></head>

<body>
	<div th:replace="header"></div>
	<section id="works" class="works">
		<div class="container">
			<div class="section-header">
				<h2></h2>
			</div><!--/.section-header-->
			<div class="works-content">
				<div class="row">
					<div class="col-md-6">
						<div class="single-how-works">
							<div class="single-how-works-icon">
								<i class="fa-solid fa-house-chimney"></i>
							</div>
							<h2><a href="#">choose <span> what to</span> do</a></h2>
							<p>간편한 공간대여로 원하는 곳에서 우리다운 시간을 보내세요!	</p>
							<button class="movebtn" onclick="window.location.href='place/list'">
								공간 보러가기
							</button>
						</div>
					</div>
					<div class="col-md-6" >
						<div class="single2-how-works">
							<div class="single2-how-works-icon">
								<i class="fa-solid fa-person"></i>
							</div>
							<h2><a href="#">find <span> your friend</span></a></h2>
							<p>당신에게 꼭 필요한 친구가 되어줄게요!</p>
							<button class=" movebtn" onclick="window.location.href='person/list'">
								사람 보러가기
							</button>
						</div>
					</div>
					
				</div>
			</div>
		</div><!--/.container-->

	</section><!--/.works-->
	
</body>
</html>