<!DOCTYPE html>


<head id="personCategory">
	
	<div class="wrapper-pl">
		<div class="cat-cat">
			<input type="checkbox" id="meal" value="식사" name="person_category"/>
			<label for="meal">식사</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="counsel" value="고민상담" name="person_category"/>
			<label for="counsel">고민상담</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="shopping" value="장보기" name="person_category"/>
			<label for="shopping">장보기</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="pet" value="애견산책" name="person_category"/>
			<label for="pet">애견산책</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="role" value="역할대행" name="person_category"/>
			<label for="role">역할대행</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="etc" value="기타" name="person_category"/>
			<label for="role">기타</label>
		</div>
	</div>

	</head>