<!DOCTYPE html>


<head id="placeCategory">


	<div class="wrapper-pl">
		<div class="cat-cat">
			<input type="checkbox" id="exercise" value="exercise" name="place_category"/>
			<label for="exercise">체육시설</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="camping" value="camping" name="place_category" />
			<label for="camping">캠핑</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="office" value="office" name="place_category"/>
			<label for="office">공유오피스</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="carry" value="carry" name="place_category"/>
			<label for="carry">짐보관</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="guset" value="guest" name="place_category" />
			<label for="guset">게스트하우스</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="ptroom" value="ptroom" name="place_category" />
			<label for="ptroom">파티룸</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="study" value="study" name="place_category"/>
			<label for="study">스터디룸</label>
		</div>
		<div class="cat-cat">
			<input type="checkbox" id="pack" value="pack" name="place_category" />
			<label for="pack">공연장</label>
		</div>
	</div>

	</head>

