<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cookie.repository.MemberMapper">
	<insert id="saveMember">
		insert into member(
			member_id,
			member_pw,
			member_nick,
			member_pho,
			member_mbti,
			member_date,
			saved_filename
		) values (
			#{member_id},
			#{member_pw},
			#{member_nick},
			#{member_pho},
			#{member_mbti},
			SYSDATE,
			#{saved_filename}
		)
	</insert>
	
	<select id="findMember" resultType="member">
		select * from member where member_id = #{member_id}
	</select>
	
	<select id="findRentPlaces" resultType="rentPlace">
		select 
			r.rentPlace_id,
			r.member_id,
			s.place_id,
			s.place_name,
			s.place_address,
			r.rentPlace_start,
			r.rentPlace_end,
			r.rentPlace_count,
			r.rentPlace_price,
			s.saved_filename
		 from 
		 	rentPlace r join splace s
		 	on (r.place_id = s.place_id)
		where 
			r.member_id = #{member_id}
		order by
			rentPlace_id desc
	</select>

	<select id="findRentPerson" resultType="rentPerson">
		select 
			r.rentPerson_id,
			r.member_id,
			s.person_name,
			r.person_id,
			s.member_mbti,
			r.rentPerson_time,
			s.saved_filename,
			s.member_nick,
			s.person_category,
			s.person_content
		 from 
		 	rentPerson r join sperson s
		 	on (r.person_id = s.person_id)
		where 
			r.member_id = #{member_id}
		order by
			rentPerson_id desc
	</select>
	
 	<select id="findRegisterPlaces" resultType="place">
		select 
			place_id,
			member_id,
			place_name,
			place_count,
			place_address,
			place_category,
			place_price,
			saved_filename
		 from 
		 	splace
		where 
			member_id = #{member_id}
		order by
			place_id desc
	</select>
	
 	<select id="findRegisterPerson" resultType="person">
		select 
			p.person_id,
			m.member_id,
			p.person_name,
			p.person_category,
			m.member_mbti,
			p.person_content,
			p.saved_filename
		 from sperson p join member m on (p.member_id = m.member_id) 
		where 
			m.member_id = #{member_id}
		order by
			p.person_id desc
	</select>
	
	
	
	
	
	
	
<insert id="saveFile" parameterType="file">
<selectKey keyProperty="attachedfile_id" resultType="long" order="BEFORE">
	select seq_sperson.nextval from dual
</selectKey>
	insert into attached_file(
		attachedfile_id,
		original_filename,
		saved_filename,
		file_size
	) values(
		#{attachedfile_id},
		#{original_filename},
		#{saved_filename},
		#{file_size}
	)
</insert>	

	<!-- 저장된 멤버 업데이트 -->
    <update id="updateMember" parameterType="com.example.cookie.model.member.Member">
        UPDATE cooookie.member
        SET
            member_pw = #{member_pw},
            member_nick = #{member_nick},
            member_pho = #{member_pho},
            member_mbti = #{member_mbti}
        WHERE
            member_id = #{member_id}
    </update>
    
    
   
</mapper>