<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cookie.repository.PersonMapper">

	<insert id="savePerson">
		<selectKey keyProperty="person_id" resultType="long" order="BEFORE">
		select seq_sperson.nextval from dual	
	</selectKey>
		insert into sperson(
			person_id,
			member_id,
			person_name,
			person_content,
			person_category,
			saved_filename,
			member_mbti
		) values (
			#{person_id},
			#{member_id},
			#{person_name},
			#{person_content},
			#{person_category},
			#{saved_filename},
			#{member_mbti}
		)
	</insert>
	
 <insert id="saveFile" parameterType="personfile">
    <selectKey keyProperty="attachedfile_id" resultType="long" order="BEFORE">
    	select seq_sperson.nextval from dual
    </selectKey>
    insert into attached_file(
    	attachedfile_id,
    	person_id,
    	original_filename,
    	saved_filename,
    	file_size
    ) values (
    	#{attachedfile_id},
    	#{person_id},
    	#{original_filename},
    	#{saved_filename},
    	#{file_size}
    )
  </insert>
  
  <select id="findPersons" resultType="person">
   select
	   p.person_id,
	   m.member_id,
	   p.person_name,
	   p.person_content,
	   p.person_category,
	   p.saved_filename,
	   m.member_mbti
   from sperson p join member m on (p.member_id = m.member_id) 
   order by person_id desc
  </select>
  
  <select id="findPersonByPersonId" resultType="person">
   select
	   p.person_id,
	   m.member_id,
	   m.member_nick,
	   p.person_name,
	   p.person_content,
	   p.person_category,
	   p.saved_filename,
	   m.member_pho,
	   m.member_mbti
   from 
   sperson p join member m on (p.member_id = m.member_id)
   where
   p.person_id = #{person_id} order by person_id desc
 	</select>
 	
  <select id="findFileByAttachedFileId" resultType="file">
		select * from attached_file where attachedFile_id = #{attachedFile_id}
  </select>
  
  	<insert id="rentPerson">
		<selectKey keyProperty="rentPerson_id" resultType="long" order="BEFORE">
			select seq_splace.nextval from dual
		</selectKey>
		insert into rentPerson(
			rentPerson_id,
			member_id,
			person_id,
			rentPerson_time
		) values(
			#{rentPerson_id},
			#{member_id},
			#{person_id},
			#{rentPerson_time}
		)
		
	</insert>
	
	<select id="findRentByPersonId" resultType="rentPerson" parameterType="map">
		select * from rentPerson where person_id = #{person_id} and member_id = #{member_id}
	</select>
	
	<select id="findPersonByCategory" resultType="person">
		select * from sperson where 
		person_category LIKE '%' || #{person_category} || '%'
		order by person_id desc
	</select>
</mapper>